table, table * {
    border: 1px solid black;
    margin-left: 3%;
}

h1 {
    color: lawngreen;
}

h3 {
    text-align: center;
}

h5 {
    color: grey;
    position: absolute;
    bottom:0;
    left: 45%;
    margin: 0 -50% 0 0;
}

img {
    float: left;
}
