table, table * {
    border: 1px solid black;
    margin-left: 3%;
}

h1 {
    color: lawngreen;
    margin-left: 2%;
    margin-top: 2%;
}

h3 {
    margin-left: 3%;
}

.footer {
    color: darkorange;
    position:fixed;
    bottom:0;
    height:2%;
    margin-left: 45%;
}

img {
    float: left;
}

a {
    margin-left: 3%;
}

.indexLast5addedChilds {
    border: 1px solid black;
    margin-bottom: 5%;
    float: left;
}

.indexStyleChildTable {
    border: 1px solid black;
    float: left;
}

.indexLevelChildTable {
    border: 1px solid black;
    float: left;
}

.indexRecskiImg {
    float: right;
    width: 672px;
    height: 366px;
    margin-right: 33%;
}

#indexLinks {

}

#indexTables {

}

/*#childListFilter {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/




